*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}
#container{
    height:400px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden ;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;

    /* object-position:top ; */
}
#container i{
    color: white;
    font-size: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    transform: translate(-50% , -50%) scale(0);
    transition: all ease 0.4s;
}
